/* .tabela__produtos {
    display: grid;
    align-items: center;
    justify-items: center;
}

.tabela__produtos__cabecalho {
    margin:0;
    padding:0;
    border:0;
    gap:0;
    font-size:100%;
}

.tabela__produtos__item {
    margin:0;
    padding:0;
    border:0;
    gap:0;
    font-size:90%;
} */